/* footer.css */

.footer {
  background-color: #333;
  color: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-section {
  margin-bottom: 30px;
  text-align: center;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon {
  color: white;
  font-size: 24px;
  margin: 0 10px;
}

.contact-link {
  color: white;
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #555;
}
